In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.2-cp38-cp38-macosx_10_9_x86_64.whl (11.4 MB)
     |████████████████████████████████| 11.4 MB 595 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.21.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 154 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.2 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import re, os

In [5]:
data = {'name' : ['Mark', 'Jane', 'Chris', 'Ryan'],
        'age' : [33, 32, 44, 42],
        'score' : [91.3, 83.4, 77.5, 87.7]}

data

{'name': ['Mark', 'Jane', 'Chris', 'Ryan'],
 'age': [33, 32, 44, 42],
 'score': [91.3, 83.4, 77.5, 87.7]}

In [6]:
# 임의 딕셔너리를 data에 저장함
df = pd.DataFrame(data)

In [7]:
df

    name  age  score
0   Mark   33   91.3
1   Jane   32   83.4
2  Chris   44   77.5
3   Ryan   42   87.7

In [8]:
# Sum (합게)
df.sum()

name     MarkJaneChrisRyan
age                    151
score                339.9
dtype: object

In [9]:
df.mean()

<ipython-input-9-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

age      37.750
score    84.975
dtype: float64

In [10]:
# 특정 데이터 선택하기
df.age

0    33
1    32
2    44
3    42
Name: age, dtype: int64

In [11]:
df.score

0    91.3
1    83.4
2    77.5
3    87.7
Name: score, dtype: float64

In [20]:
# CSV 불러와 데이터프레임으로 만들기
os.chdir(r'/Users/leekyungha/PycharmProjects/python-data-basic-programming/5-package-data-analysis/data')

In [24]:
# 판다스로 CSV를 불러올 때 : read_csv() 함수 사용
df = pd.read_csv('apt.csv')
df

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [25]:
len(df)

42758

In [26]:
# 처음 또는 마지막 자료 일부분만 출력하기
df.head()

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22

In [27]:
df.tail()

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.76,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,26,11200,11,2002,원호암5길 32

In [28]:
# 열 전체 자료 출력하기
df.지역

0         강원도 강릉시 견소동
1         강원도 강릉시 견소동
2         강원도 강릉시 견소동
3         강원도 강릉시 견소동
4         강원도 강릉시 견소동
             ...
42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, Length: 42758, dtype: object

In [29]:
# 조건별로 출력하기
df.면적

0         59.800
1        116.175
2         84.990
3         84.990
4         84.990
          ...
42753     59.760
42754     84.680
42755     84.680
42756     84.680
42757     84.680
Name: 면적, Length: 42758, dtype: float64

In [30]:
# 130 이상 면적을 가진 것만 출력
df[df.면적 > 130]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
6,강원도 강릉시 교동,1982,1982,0,강릉교동롯데캐슬1단지,135.1727,201910,21,34300,9,2009,화부산로99번길 12
39,강원도 강릉시 남문동,183-2,183,2,삼익그린맨션,164.7540,201910,15,21000,12,1992,홍제로 7-17
334,강원도 속초시 금호동,629,629,0,보람레이크더하임,156.7600,201910,16,29500,1,2008,영랑호반길 115-13
433,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,133.9912,201910,5,26000,16,2006,행구로 54
434,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,137.4292,201910,31,24000,14,2006,행구로 54
...,...,...,...,...,...,...,...,...,...,...,...,...
42595,충청북도 충주시 문화동,2260,2260,0,럭키,156.7900,201910,21,15000,3,1993,중원대로 3379
42607,충청북도 충주시 안림동,1166,1166,0,엘리시아,136.1287,201910,19,18500,12,2007,국원초1길 48
42663,충청북도 충주시 연수동,1627,1627,0,연수힐스테이트,143.2109,201910,14,31500,13,2007,연수동산로 26
42736,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,20,18500,12,1996,금릉로 17
42737,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,21,16200,3,1996,금릉로 17

In [31]:
df.가격[df.면적 > 130]

6        34300
39       21000
334      29500
433      26000
434      24000
         ...
42595    15000
42607    18500
42663    31500
42736    18500
42737    16200
Name: 가격, Length: 1567, dtype: int64

In [32]:
# 여러개의 조건을 넣고싶은 경우
df.가격[(df.면적 > 130) & (df.가격 < 15000)]

862      14900
927      13800
16785    14700
36733    14700
37726    13700
38811    14600
39487    12000
40680    12500
41173    14000
41578    13000
Name: 가격, dtype: int64

In [33]:
# 둘 중 하나를 만족하면 결괏값 반환
df.가격[(df.면적 > 130) | (df.가격 < 15000)]

0        10900
6        34300
35        4600
36       13200
37       14700
         ...
42753     7000
42754    12000
42755    11000
42756    12000
42757    11200
Name: 가격, Length: 11499, dtype: int64

In [34]:
# 원하는 자료만 살펴보기
df.loc[:10, ['아파트', '가격']]

                아파트     가격
0              송정한신  10900
1              송정한신  18500
2      송정해변신도브래뉴아파트  25000
3      송정해변신도브래뉴아파트  20600
4      송정해변신도브래뉴아파트  20500
5   강릉 교동 풍림아이원 아파트  29200
6       강릉교동롯데캐슬1단지  34300
7       강릉교동롯데캐슬2단지  32500
8             교동1주공  16200
9             교동1주공  21550
10            교동1주공  21800

In [35]:
df.loc[:, ['아파트', '가격']][df.가격 > 40000]

                  아파트     가격
382          속초청호아이파크  45800
541          무실e-편한세상  44600
592          원주반곡아이파크  40700
842    온의 롯데캐슬 스카이클래스  44000
843    온의 롯데캐슬 스카이클래스  42900
...               ...    ...
42364       신영지웰시티 1차  47700
42365       신영지웰시티 1차  46000
42366       신영지웰시티 1차  55800
42367       신영지웰시티 1차  67000
42424          봉명아이파크  49000

[10486 rows x 2 columns]

In [36]:
df['단가'] = df.가격 / df.면적

In [39]:
df.sort_values(by = '가격').loc[:, ('가격', '지역')]

           가격                지역
17024     600      경상북도 구미시 원평동
17022     700      경상북도 구미시 원평동
17637     750  경상북도 칠곡군 약목면 관호리
17031     800      경상북도 구미시 원평동
17027     800      경상북도 구미시 원평동
...       ...               ...
27036  373000     서울특별시 강남구 대치동
26805  376640     부산광역시 해운대구 우동
29946  415000     서울특별시 서초구 반포동
27061  461000     서울특별시 강남구 도곡동
31258  485000     서울특별시 용산구 한남동

[42758 rows x 2 columns]

In [43]:
df.sort_values(by = '단가',  ascending = False).loc[:, ('가격', '지역', '단가')]

           가격             지역           단가
27011  196000  서울특별시 강남구 개포동  5464.176192
27009  270000  서울특별시 강남구 개포동  5331.753555
27008  207000  서울특별시 강남구 개포동  4864.864865
27007  205000  서울특별시 강남구 개포동  4817.861340
27006  153000  서울특별시 강남구 개포동  4292.929293
...       ...            ...          ...
17027     800   경상북도 구미시 원평동    19.841270
17025     800   경상북도 구미시 원평동    19.777503
17032     900   경상북도 구미시 원평동    18.285250
17024     600   경상북도 구미시 원평동    14.880952
17022     700   경상북도 구미시 원평동    14.221861

[42758 rows x 3 columns]

In [47]:
df[df.가격 > 40000].sort_values(by = '면적').loc[:, ('가격', '면적', '지역')]

           가격        면적               지역
30111   90000   25.3284  서울특별시 성동구 성수동1가
27124   74000   28.2460    서울특별시 강남구 역삼동
27122   74500   28.2460    서울특별시 강남구 역삼동
27123   76000   28.2460    서울특별시 강남구 역삼동
29725   43500   30.0100    서울특별시 마포구 아현동
...       ...       ...              ...
27118  245000  242.8200    서울특별시 강남구 역삼동
30002  206000  244.4200    서울특별시 서초구 서초동
10106  100000  244.6630    경기도 용인수지구 성복동
31501  240000  273.8200     서울특별시 중구 신당동
35826  300000  291.3360    인천광역시 연수구 송도동

[10486 rows x 3 columns]

In [48]:
df.sort_values(by = '면적').loc[:, ('가격', '면적', '지역')][df.가격 > 40000]

<ipython-input-48-8123c2137a9f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values(by = '면적').loc[:, ('가격', '면적', '지역')][df.가격 > 40000]

           가격        면적               지역
30111   90000   25.3284  서울특별시 성동구 성수동1가
27122   74500   28.2460    서울특별시 강남구 역삼동
27124   74000   28.2460    서울특별시 강남구 역삼동
27123   76000   28.2460    서울특별시 강남구 역삼동
29725   43500   30.0100    서울특별시 마포구 아현동
...       ...       ...              ...
27118  245000  242.8200    서울특별시 강남구 역삼동
30002  206000  244.4200    서울특별시 서초구 서초동
10106  100000  244.6630    경기도 용인수지구 성복동
31501  240000  273.8200     서울특별시 중구 신당동
35826  300000  291.3360    인천광역시 연수구 송도동

[10486 rows x 3 columns]

In [50]:
# 문자열 다루기
df.지역.str.find('서울특별시')

0       -1
1       -1
2       -1
3       -1
4       -1
        ..
42753   -1
42754   -1
42755   -1
42756   -1
42757   -1
Name: 지역, Length: 42758, dtype: int64

In [51]:
df.지역.str.find('강릉')

0        4
1        4
2        4
3        4
4        4
        ..
42753   -1
42754   -1
42755   -1
42756   -1
42757   -1
Name: 지역, Length: 42758, dtype: int64

In [52]:
df[df.지역.str.find('강릉') > -1]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명,단가
0,강원도 강릉시 견소동,202,202,0,송정한신,59.8000,201910,4,10900,5,1997,경강로2539번길 8,182.274247
1,강원도 강릉시 견소동,202,202,0,송정한신,116.1750,201910,31,18500,10,1997,경강로2539번길 8,159.242522
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.9900,201910,5,25000,6,2005,경강로2539번길 22,294.152253
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.9900,201910,12,20600,3,2005,경강로2539번길 22,242.381457
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.9900,201910,20,20500,1,2005,경강로2539번길 22,241.204848
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,강원도 강릉시 회산동,608,608,0,강릉서희스타힐스리버파크,84.8956,201910,24,24000,10,2017,회산로 344,282.700163
184,강원도 강릉시 회산동,130,130,0,힐스테이트 강릉,84.9925,201910,7,24000,3,2018,회산로383번길 37,282.377857
185,강원도 강릉시 회산동,130,130,0,힐스테이트 강릉,74.9974,201910,19,23000,15,2018,회산로383번길 37,306.677298
186,강원도 강릉시 회산동,130,130,0,힐스테이트 강릉,74.9985,201910,21,24100,6,2018,회산로383번길 37,321.339760
187,강원도 강릉시 회산동,130,130,0,힐스테이트 강릉,74.9974,201910,29,25400,13,2018,회산로383번길 37,338.678408

In [56]:
dfF = df[df.지역.str.find('강릉') > -1]