In [1]:
import os, re
import pandas as pd

In [2]:
os.chdir(r'/Users/leekyungha/PycharmProjects/python-data-basic-programming/5-package-data-analysis/data')

In [5]:
df2 = pd.read_csv('survey.csv')
df2

   sex  income  English  jobSatisfaction  stress
0    m    3000      500                5       5
1    f    4000      600                4       4
2    f    5000      700                3       2
3    m    6000      800                2       2
4    m    4000      700                2       5
5    m    3000      600                1       5
6    m    3000      500                3       1
7    m    5000      500                3       2
8    f    4999      600                4       3
9    f    5000      700                5       4
10   m    3000      500                5       5
11   m    4000      600                4       4
12   m    5000      700                3       2
13   m    6000      800                2       5
14   f    4000      700                2       4
15   f    3000      600                1       2
16   m    3000      500                3       2
17   m    5000      500                3       5
18   m    4999      600                4       5
19   m    5000      500                3       1
20   f    4999      600                4       2
21   f    5000      700                5       3
22   f    3000      500                5       4

In [9]:
df2.mean()

<ipython-input-9-4a56ca50fe8e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.mean()

income             4304.217391
English             608.695652
jobSatisfaction       3.304348
stress                3.347826
dtype: float64

In [10]:
df2.income.mean()

4304.217391304348

In [11]:
df2.income.sum()

98997

In [12]:
df2.sum()

sex                mffmmmmmffmmmmffmmmmfff
income                               98997
English                              14000
jobSatisfaction                         76
stress                                  77
dtype: object

In [13]:
df2.std()

<ipython-input-13-cefa5b2080f7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.std()

income             1019.478341
English              99.603959
jobSatisfaction       1.258960
stress                1.433644
dtype: float64

In [14]:
df2.var()

<ipython-input-14-4260c243dd82>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.var()

income             1.039336e+06
English            9.920949e+03
jobSatisfaction    1.584980e+00
stress             2.055336e+00
dtype: float64

In [15]:
df2.median()

<ipython-input-15-05e26ec02eba>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.median()

income             4999.0
English             600.0
jobSatisfaction       3.0
stress                4.0
dtype: float64

In [16]:
# 기초통계량 요약해서 출력하기: 데이터 최대, 최소값, 표준편차 등 - describe()
df2.describe()

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [18]:
# 빈도분석 - value_counts() : 몇 명의 사람들이 응답했는가? 성별을 기준으로 표시
df2.sex.value_counts()

m    14
f     9
Name: sex, dtype: int64

In [21]:
# 두 집단의 평균 구하기 : groupby()
df2.groupby(df2.sex).mean()

          income     English  jobSatisfaction    stress
sex
f    4333.111111  633.333333         3.666667  3.111111
m    4285.642857  592.857143         3.071429  3.500000

In [ ]:
#