In [11]:
# numpy를 np로 임폴트할때 오류가 발생하지 않게 코드 수정하기
import numpy as np

In [4]:
e = np.array([[1, 2, 3, 4], [3, 4, 5, 6]])
e

array([[1, 2, 3, 4],
       [3, 4, 5, 6]])

In [6]:
# 2. 다음 설명에 해당하는 함수는?
# 1) 0으로만 이루어진 배열을 만드는 함수 : np.zeros()
# 2) 1로만 이루어진 배열을 만드는 함수 : np.ones()

In [7]:
# 3. 두 배열을 곱할 때 및줄 친 빈 칸에 나올 숫자 채우기
a = np.array([[1, 2], [4, 5]])
b = np.array([[1, 2], [1, 3]])

# 답 : 15
a * b

array([[ 1,  4],
       [ 4, 15]])

In [9]:
# 4. 넘파이에서 행과 열을 바꾸는 함수의 이름은 무엇인가?
a = np.ones((2, 3))
b = np.transpose(a)

In [ ]:
# 5. 내부수익율을 계산하는 명령어는?
np.arr(cf)

In [9]:
# 6. 순현재가치 구하기 : 사회적 할인율 5.5%일 때 순 현재가치 구하는 명령어 작성하기
cf = np.array([[-400, -200, 300, 300, 300, 300]])
cf

np.npv(0.055, cf[0])

<ipython-input-9-5a1dab5fee96>:5: DeprecationWarning: In accordance with NEP 32, the function npv was removed from NumPy version 1.20.  A replacement for this function is available in the numpy_financial library: https://pypi.org/project/numpy-financial
  np.npv(0.055, cf[0])

RuntimeError: In accordance with NEP 32, the function npv was removed from NumPy version 1.20.  A replacement for this function is available in the numpy_financial library: https://pypi.org/project/numpy-financial

In [12]:
# 7~ 11. 데이터프레임

import pandas as pd

In [14]:
data = {'name': ['Mark', 'Jane', 'Chris', 'Ryan'],
        'age': [33, 32, 44, 42],
        'score': [91.3, 83.4, 77.5, 87.7]}

df = pd.DataFrame(data)

In [15]:
df.age.mean()

37.75

In [16]:
df.score.sum()

339.9

In [18]:
df.score.describe()

count     4.000000
mean     84.975000
std       5.938224
min      77.500000
25%      81.925000
50%      85.550000
75%      88.600000
max      91.300000
Name: score, dtype: float64

In [20]:
# 8. 나이가 40보다 많고 점수가 80점 이상인 사람의 이름 출력
df.name[(df.age > 40) & (df.score > 80)]

3    Ryan
Name: name, dtype: object

In [25]:
# 9. 내림차순 정렬(점수기준)

df.sort_values(by = 'score', ascending = False)

    name  age  score
0   Mark   33   91.3
3   Ryan   42   87.7
1   Jane   32   83.4
2  Chris   44   77.5

In [28]:
# 10. pandas의 str() 함수를 이용해 df에서 이름이 a가 들어간 사람들의 이름만 출력

df[df.name.str.find('a') > -1]

   name  age  score
0  Mark   33   91.3
1  Jane   32   83.4
3  Ryan   42   87.7

In [29]:
# 상관관계 분석하기

df.corr()

            age     score
age    1.000000 -0.513903
score -0.513903  1.000000